.Home{
    background: #ccc;
    color: #333;
    border-radius: 1em;
    .Title{
        text-align: center;
        font-weight: bolder;
    }
    .img{
        width: 100%;
        object-fit: contain;
    }
    .btn{
        background: teal;
        padding: 1em;
        margin-top: 1em;
        border-radius: 1em;
    }
    .btn:hover{
        background: #ccc;
        color: #333;
    }
}