.Home{
    background: #ccc;
    color: #333;
    border-radius: 1em;
    .Title{
        text-align: center;
        font-weight: bolder;
        color: rebeccapurple;
        text-transform: uppercase;
        font-size: 40px;
    }
}