.Card{
    color: whitesmoke;
    .img{
        width: 100%;
        object-fit: contain;
        border-radius: 1em;
    }
    .btn{
        background: teal;
        padding: 1em;
        margin-top: 1em;
        border-radius: 1em;
    }
    .btn:hover{
        background: #ccc;
        color: #333;
    }
}